<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dksu99.exp1.mapper.AccountMapper">
    <select id="findOne" resultType="com.dksu99.exp1.entity.Account">
        select * from account where id = #{no}
    </select>
    
    <insert id="save" parameterType="com.dksu99.exp1.entity.Account" keyProperty="id">
    	insert into account(name,age,job) values ( #{name}, #{age}, #{job})
    </insert>
</mapper>